<mat-card matRipple
          [matRippleDisabled]="true"
          appearance="outlined"
          class="task-card"
          (mousedown)="handlePress($event)"
          (mouseup)="isPressed = false"
          (mouseout)="isPressed = false"
          (click)="selected.emit(task)"
          [ngClass]="{'disabled': task.completed, 'pressed': isPressed}">
  <mat-checkbox class="checkbox"
                [ngClass]="{'strike-through': task.completed}"
                [(ngModel)]="task.completed"
                (change)="completeChange.emit(task)">
    {{ task.title }}
  </mat-checkbox>
  <mat-chip-set class="chips">
    @if (task.dueDate) {
      <mat-chip-row (removed)="task.dueDate = null"
                    (click)="setDueDate(task)"
                    matTooltip="Due date">
        <fa-icon matChipAvatar [icon]="faCalendarDay"></fa-icon>
        {{ dueDate | date: 'shortDate' }}
        <button matChipRemove>
          <fa-icon [icon]="faCircleXmark"></fa-icon>
        </button>
      </mat-chip-row>
    } @else {
      <mat-chip-row (click)="setDueDate(task)">
        <fa-icon matChipAvatar [icon]="faCalendarPlus"></fa-icon>
        Add due date
      </mat-chip-row>
    }
  </mat-chip-set>
  <fa-icon class="angle-decorator"
           [icon]="faAngleRight"
           size="lg"
           (mousedown)="handlePress($event)"></fa-icon>
</mat-card>
