/* You can add global styles to this file, and also import other style files */
@use "alignment";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-wrapper {
  padding: 1rem;
}

.row {
  @include alignment.row;
}

.column {
  @include alignment.column;
}

.stretch {
  @include alignment.stretch;
}

.align-center {
  @include alignment.align-center;
}

.justify-center {
  @include alignment.justify-center;
}

.center {
  @include alignment.center;
}

.space-between {
  @include alignment.space-between;
}

.space-around {
  @include alignment.space-around;
}

.space-evenly {
  @include alignment.space-evenly;
}
